.imkat-microscopic {
	font-size: 3px;
}
.imkat-vsmall {
	font-size: 7px;
}
.imkat-small {
	font-size: 15px;
}
.imkat-medium {
	font-size: 20px;
}
.imkat-large {
	font-size: 27.5px;
}
.imkat-vlarge {
	font-size: 33px;
}
.imkat-super {
	font-size: 46px;
}
.imkat-ularge {
	font-size: 53.5px;
}
.imkat-extreme {
	font-size: 67px;
}