@import url("https://fonts.googleapis.com/css2?family=Source+Code+Pro&display=swap&family=Amiko&display=swap&family=Aclonica&display=swap&family=Acme&display=swap&family=Aldrich&display=swap");
.imkat-source-code-pro {
  font-family: "Source Code Pro", monospace;
}
.imkat-consolas {
  font-family: consolas;
}
.imkat-calibri {
  font-family: calibri;
}
.imkat-serif-georgia {
  font-family: Georgia, serif;
}
.imkat-serif-palatino-bookantiqua {
  font-family: "Palatino Linotype", "Book Antiqua", Palatino, serif;
}
.imkat-serif-timesnewroman {
  font-family: "Times New Roman", Times, serif;
}
.imkat-sans-arial {
  font-family: Arial, Helvetica, sans-serif;
}
.imkat-sans-arialblack {
  font-family: "Arial Black", Gadget, sans-serif;
}
.imkat-sans-comicsans {
  font-family: "Comic Sans MS", cursive, sans-serif;
}
.imkat-sans-impact {
  font-family: Impact, Charcoal, sans-serif;
}
.imkat-sans-lucidaunicode {
  font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
}
.imkat-sans-aclonica {
	font-family: "Aclonica";
}
.imkat-sans-acme {
	font-family: "Acme";
}
.imkat-mono-lucidaconsole {
  font-family: "Lucida Console", Monaco, monospace;
}
.imkat-mono-couriernew {
  font-family: "Courier New", Courier, monospace;
}
.imkat-mono-amiko {
  font-family: "Amiko";
}
.imkat-mono-aldrich {
	font-family: "Aldrich";
}
.imkat-mono-andale {
	font-family: "Andale Mono", monospace;
}
.imkat-mono-freemono {
	font-family: FreeMono, monospace;
}
.imkat-mono-dejavu {
	font-family: "Dejavu Sans Mono", monospace;
}
