/*Font Import*/
@import url("https://fonts.googleapis.com/css2?family=Source+Code+Pro&display=swap&family=Amiko&display=swap&family=Aclonica&display=swap&family=Acme&display=swap&family=Aldrich&display=swap");
/*IMKAT Text Colors*/
.imkat-text-black {
  color: #000000;
}
.imkat-text-white {
  color: #ffffff;
}
.imkat-text-blue {
  color: #0000ff;
}
.imkat-text-sakura {
  color: #ffbbcd;
}
.imkat-text-skyblue {
  color: #55ddff;
}
.imkat-text-turquoise {
  color: #66ffff;
}
.imkat-text-yellow {
  color: #ffff00;
}
.imkat-text-orange {
  color: #ff9912;
}
.imkat-text-violet {
  color: #6300cc;
}
.imkat-text-mauve {
  color: #995599;
}
.imkat-text-red {
  color: #ff0000;
}
.imkat-text-seablue {
  color: #003eb3;
}
.imkat-text-darkblue {
  color: #191966;
}
.imkat-text-prussianblue {
  color: #003366;
}
.imkat-text-vermilionred {
  color: #ff4400;
}
.imkat-text-lawngreen {
  color: #aaff00;
}
.imkat-text-olivegreen {
  color: #384d00;
}
.imkat-text-indigo {
  color: #00004d;
}
.imkat-text-rainbowgreen {
  color: #00ff00;
}
.imkat-text-tomatoketchup {
  color: #ff5050;
}
.imkat-text-mayonnise {
  color: #ffccb6;
}
.imkat-text-rustiron {
  color: #992e00;
}
.imkat-text-fall {
  color: #ff5e1a;
}
.imkat-text-fruits-sweetlime {
  color: #aaff22;
}
.imkat-text-fruits-orange {
  color: #ffaa33;
}
.imkat-text-fruits-banana {
  color: #ddff11;
}
.imkat-text-fruits-mango {
  color: #ffee22;
}
/*IMKAT Background Colors*/
.imkat-black {
  background-color: #000000;
}
.imkat-white {
  background-color: #ffffff;
}
.imkat-blue {
  background-color: #0000ff;
}
.imkat-sakura {
  background-color: #ffbbcd;
}
.imkat-skyblue {
  background-color: #55ddff;
}
.imkat-turquoise {
  background-color: #66ffff;
}
.imkat-yellow {
  background-color: #ffff00;
}
.imkat-orange {
  background-color: #ff9912;
}
.imkat-violet {
  background-color: #6300cc;
}
.imkat-mauve {
  background-color: #995599;
}
.imkat-red {
  background-color: #ff0000;
}
.imkat-seablue {
  background-color: #003eb3;
}
.imkat-darkblue {
  background-color: #191966;
}
.imkat-prussianblue {
  background-color: #003366;
}
.imkat-vermilionred {
  background-color: #ff4400;
}
.imkat-lawngreen {
  background-color: #aaff00;
}
.imkat-olivegreen {
  background-color: #384d00;
}
.imkat-indigo {
  background-color: #00004d;
}
.imkat-rainbowgreen {
  background-color: #00ff00;
}
.imkat-tomatoketchup {
  background-color: #ff5050;
}
.imkat-mayonnise {
  background-color: #ffccb6;
}
.imkat-rustiron {
  background-color: #992e00;
}
.imkat-fall {
  background-color: #ff5e1a;
}
.imkat-fruits-sweetlime {
  background-color: #aaff22;
}
.imkat-fruits-orange {
  background-color: #ffaa33;
}
.imkat-fruits-banana {
  background-color: #ddff11;
}
.imkat-fruits-mango {
  background-color: #ffee22;
}
/*IMKAT Border Styles*/
.imkat-b-small, .imkat-hover-b-small:hover {
  border: 1px solid #ccc;
}
.imkat-b-medium, .imkat-hover-b-medium:hover {
  border: 2.5px solid #ccc;
}
.imkat-b-slightthick, .imkat-hover-b-slightthick:hover {
  border: 3.5px solid #ccc;
}
.imkat-b-thick, .imkat-hover-b-thick:hover {
  border: 5px solid #ccc;
}
.imkat-b-vthick, .imkat-hover-b-vthick:hover {
  border: 7px solid #ccc;
}
.imkat-b-dotted, .imkat-hover-b-dotted:hover {
  border-style: dotted!important;
}
.imkat-b-dashed, .imkat-hover-b-dashed:hover {
  border-style: dashed!important;
}
.imkat-b-double, .imkat-hover-b-double:hover {
  border-style: double!important;
}
.imkat-b-groove, .imkat-hover-b-groove:hover {
  border-style: groove!important;
}
.imkat-b-ridge, .imkat-hover-b-ridge:hover {
  border-style: ridge!important;
}
.imkat-b-inset, .imkat-hover-b-inset:hover {
  border-style: inset!important;
}
.imkat-b-outset, .imkat-hover-b-outset:hover {
  border-style: outset!important;
}
.imkat-b-left-dotted, .imkat-hover-b-left-dotted:hover {
  border-left-style: dotted!important;
}
.imkat-b-left-dashed, .imkat-hover-b-left-dashed:hover {
  border-left-style: dashed!important;
}
.imkat-b-left-double, .imkat-hover-b-left-double:hover {
  border-left-style: double!important;
}
.imkat-b-left-groove, .imkat-hover-b-left-groove:hover {
  border-left-style: groove!important;
}
.imkat-b-left-ridge, .imkat-hover-b-left-ridge:hover {
  border-left-style: ridge!important;
}
.imkat-b-left-inset, .imkat-hover-b-left-inset:hover {
  border-left-style: inset!important;
}
.imkat-b-left-outset, .imkat-hover-b-left-outset:hover {
  border-left-style: outset!important;
}
.imkat-b-right-dotted, .imkat-hover-b-right-dotted:hover {
  border-right-style: dotted!important;
}
.imkat-b-right-dashed, .imkat-hover-b-right-dashed:hover {
  border-right-style: dashed!important;
}
.imkat-b-right-double, .imkat-hover-b-right-double:hover {
  border-right-style: double!important;
}
.imkat-b-right-groove, .imkat-hover-b-right-groove:hover {
  border-right-style: groove!important;
}
.imkat-b-right-ridge, .imkat-hover-b-right-ridge:hover {
  border-right-style: ridge!important;
}
.imkat-b-right-inset, .imkat-hover-b-right-inset:hover {
  border-right-style: inset!important;
}
.imkat-b-right-outset, .imkat-hover-b-right-outset:hover {
  border-right-style: outset!important;
}
.imkat-b-top-dotted, .imkat-hover-b-top-dotted:hover {
  border-top-style: dotted!important;
}
.imkat-b-top-dashed, .imkat-hover-b-top-dashed:hover {
  border-top-style: dashed!important;
}
.imkat-b-top-double, .imkat-hover-b-top-double:hover {
  border-top-style: double!important;
}
.imkat-b-top-groove, .imkat-hover-b-top-groove:hover {
  border-top-style: groove!important;
}
.imkat-b-top-ridge, .imkat-hover-b-top-ridge:hover {
  border-top-style: ridge!important;
}
.imkat-b-top-inset, .imkat-hover-b-top-inset:hover {
  border-top-style: inset!important;
}
.imkat-b-top-outset, .imkat-hover-b-top-outset:hover {
  border-top-style: outset!important;
}
.imkat-b-bottom-dotted, .imkat-hover-b-bottom-dotted:hover {
  border-bottom-style: dotted!important;
}
.imkat-b-bottom-dashed, .imkat-hover-b-bottom-dashed:hover {
  border-bottom-style: dashed!important;
}
.imkat-b-bottom-double, .imkat-hover-b-bottom-double:hover {
  border-bottom-style: double!important;
}
.imkat-b-bottom-groove, .imkat-hover-b-bottom-groove:hover {
  border-bottom-style: groove!important;
}
.imkat-b-bottom-ridge, .imkat-hover-b-bottom-ridge:hover {
  border-bottom-style: ridge!important;
}
.imkat-b-bottom-inset, .imkat-hover-b-bottom-inset:hover {
  border-bottom-style: inset!important;
}
.imkat-b-bottom-outset, .imkat-hover-b-bottom-outset:hover {
  border-bottom-style: outset!important;
}
.imkat-b-normal, .imkat-hover-b-normal:hover {
  border-radius:0px!important;
}
.imkat-b-slightround, .imkat-hover-b-slightround:hover {
  border-radius: 3px!important;
}
.imkat-b-lessround, .imkat-hover-b-lessround:hover {
  border-radius: 5px!important;
}
.imkat-b-moderateround, .imkat-hover-b-moderateround:hover {
  border-radius: 8px!important;
}
.imkat-b-veryround, .imkat-hover-b-veryround:hover {
  border-radius: 10px!important;
}
.imkat-b-highlyround, .imkat-hover-b-highlyround:hover {
  border-radius: 20px!important;
}
/*IMKAT Outline Styles*/
.imkat-o-dotted, .imkat-hover-o-dotted:hover {
  outline-style: dotted!important;
}
.imkat-o-dashed, .imkat-hover-o-dashed:hover {
  outline-style: dashed!important;
}
.imkat-o-double, .imkat-hover-o-double:hover {
  outline-style: double!important;
}
.imkat-o-groove, .imkat-hover-o-groove:hover {
  outline-style: groove!important;
}
.imkat-o-ridge, .imkat-hover-o-ridge:hover {
  outline-style: ridge!important;
}
.imkat-o-inset, .imkat-hover-o-inset:hover {
  outline-style: inset!important;
}
.imkat-o-outset, .imkat-hover-o-outset:hover {
  outline-style: outset!important;
}
/*IMKAT Text Hover Colors*/
.imkat-text-hover-black:hover {
  color: #000000;
}
.imkat-text-hover-white:hover {
  color: #ffffff;
}
.imkat-text-hover-blue:hover {
  color: #0000ff;
}
.imkat-text-hover-sakura:hover {
  color: #ffbbcd;
}
.imkat-text-hover-skyblue:hover {
  color: #55ddff;
}
.imkat-text-hover-turquoise:hover {
  color: #66ffff;
}
.imkat-text-hover-yellow:hover {
  color: #ffff00;
}
.imkat-text-hover-orange:hover {
  color: #ff9912;
}
.imkat-text-hover-violet:hover {
  color: #6300cc;
}
.imkat-text-hover-mauve:hover {
  color: #995599;
}
.imkat-text-hover-red:hover {
  color: #ff0000;
}
.imkat-text-hover-seablue:hover {
  color: #003eb3;
}
.imkat-text-hover-darkblue:hover {
  color: #191966;
}
.imkat-text-hover-prussianblue:hover {
  color: #003366;
}
.imkat-text-hover-vermilionred:hover {
  color: #ff4400;
}
.imkat-text-hover-lawngreen:hover {
  color: #aaff00;
}
.imkat-text-hover-olivegreen:hover {
  color: #384d00;
}
.imkat-text-hover-indigo:hover {
  color: #00004d;
}
.imkat-text-hover-rainbowgreen:hover {
  color: #00ff00;
}
.imkat-text-hover-tomatoketchup:hover {
  color: #ff5050;
}
.imkat-text-hover-mayonnise:hover {
  color: #ffccb6;
}
.imkat-text-hover-rustiron:hover {
  color: #992e00;
}
.imkat-text-hover-fall:hover {
  color: #ff5e1a;
}
.imkat-text-hover-fruits-sweetlime:hover {
  color: #aaff22;
}
.imkat-text-hover-fruits-orange:hover {
  color: #ffaa33;
}
.imkat-text-hover-fruits-banana:hover {
  color: #ddff11;
}
.imkat-text-hover-fruits-mango:hover {
  color: #ffee22;
}
/*IMKAT Background Hover Colors*/
.imkat-hover-black:hover {
  background-color: #000000;
}
.imkat-hover-white:hover {
  background-color: #ffffff;
}
.imkat-hover-blue:hover {
  background-color: #0000ff;
}
.imkat-hover-sakura:hover {
  background-color: #ffbbcd;
}
.imkat-hover-skyblue:hover {
  background-color: #55ddff;
}
.imkat-hover-turquoise:hover {
  background-color: #66ffff;
}
.imkat-hover-yellow:hover {
  background-color: #ffff00;
}
.imkat-hover-orange:hover {
  background-color: #ff9912;
}
.imkat-hover-violet:hover {
  background-color: #6300cc;
}
.imkat-hover-mauve:hover {
  background-color: #995599;
}
.imkat-hover-red:hover {
  background-color: #ff0000;
}
.imkat-hover-seablue:hover {
  background-color: #003eb3;
}
.imkat-hover-darkblue:hover {
  background-color: #191966;
}
.imkat-hover-prussianblue:hover {
  background-color: #003366;
}
.imkat-hover-vermilionred:hover {
  background-color: #ff4400;
}
.imkat-hover-lawngreen:hover {
  background-color: #aaff00;
}
.imkat-hover-olivegreen:hover {
  background-color: #384d00;
}
.imkat-hover-indigo:hover {
  background-color: #00004d;
}
.imkat-hover-rainbowgreen:hover {
  background-color: #00ff00;
}
.imkat-hover-tomatoketchup:hover {
  background-color: #ff5050;
}
.imkat-hover-mayonnise:hover {
  background-color: #ffccb6;
}
.imkat-hover-rustiron:hover {
  background-color: #992e00;
}
.imkat-hover-fall:hover {
  background-color: #ff5e1a;
}
.imkat-hover-fruits-sweetlime:hover {
  background-color: #aaff22;
}
.imkat-hover-fruits-orange:hover {
  background-color: #ffaa33;
}
.imkat-hover-fruits-banana:hover {
  background-color: #ddff11;
}
.imkat-hover-fruits-mango:hover {
  background-color: #ffee22;
}
/*IMKAT Border Colors*/
.imkat-b-black {
  border-color: #000000;
}
.imkat-b-white {
  border-color: #ffffff;
}
.imkat-b-blue {
  border-color: #0000ff;
}
.imkat-b-sakura {
  border-color: #ffbbcd;
}
.imkat-b-skyblue {
  border-color: #55ddff;
}
.imkat-b-turquoise {
  border-color: #66ffff;
}
.imkat-b-yellow {
  border-color: #ffff00;
}
.imkat-b-orange {
  border-color: #ff9912;
}
.imkat-b-violet {
  border-color: #6300cc;
}
.imkat-b-mauve {
  border-color: #995599;
}
.imkat-b-red {
  border-color: #ff0000;
}
.imkat-b-seablue {
  border-color: #003eb3;
}
.imkat-b-darkblue {
  border-color: #191966;
}
.imkat-b-prussianblue {
  border-color: #003366;
}
.imkat-b-vermilionred {
  border-color: #ff4400;
}
.imkat-b-lawngreen {
  border-color: #aaff00;
}
.imkat-b-olivegreen {
  border-color: #384d00;
}
.imkat-b-indigo {
  border-color: #00004d;
}
.imkat-b-rainbowgreen {
  border-color: #00ff00;
}
.imkat-b-tomatoketchup {
  border-color: #ff5050;
}
.imkat-b-mayonnise {
  border-color: #ffccb6;
}
.imkat-b-rustiron {
  border-color: #992e00;
}
.imkat-b-fall {
  border-color: #ff5e1a;
}
.imkat-b-fruits-sweetlime {
  border-color: #aaff22;
}
.imkat-b-fruits-orange {
  border-color: #ffaa33;
}
.imkat-b-fruits-banana {
  border-color: #ddff11;
}
.imkat-b-fruits-mango {
  border-color: #ffee22;
}
/*IMKAT Outline Colors*/
.imkat-o-black {
  outline-color: #000000;
}
.imkat-o-white {
  outline-color: #ffffff;
}
.imkat-o-blue {
  outline-color: #0000ff;
}
.imkat-o-sakura {
  outline-color: #ffbbcd;
}
.imkat-o-skyblue {
  outline-color: #55ddff;
}
.imkat-o-turquoise {
  outline-color: #66ffff;
}
.imkat-o-yellow {
  outline-color: #ffff00;
}
.imkat-o-orange {
  outline-color: #ff9912;
}
.imkat-o-violet {
  outline-color: #6300cc;
}
.imkat-o-mauve {
  outline-color: #995599;
}
.imkat-o-red {
  outline-color: #ff0000;
}
.imkat-o-seablue {
  outline-color: #003eb3;
}
.imkat-o-darkblue {
  outline-color: #191966;
}
.imkat-o-prussianblue {
  outline-color: #003366;
}
.imkat-o-vermilionred {
  outline-color: #ff4400;
}
.imkat-o-lawngreen {
  outline-color: #aaff00;
}
.imkat-o-olivegreen {
  outline-color: #384d00;
}
.imkat-o-indigo {
  outline-color: #00004d;
}
.imkat-o-rainbowgreen {
  outline-color: #00ff00;
}
.imkat-o-tomatoketchup {
  outline-color: #ff5050;
}
.imkat-o-mayonnise {
  outline-color: #ffccb6;
}
.imkat-o-rustiron {
  outline-color: #992e00;
}
.imkat-o-fall {
  outline-color: #ff5e1a;
}
.imkat-o-fruits-sweetlime {
  outline-color: #aaff22;
}
.imkat-o-fruits-orange {
  outline-color: #ffaa33;
}
.imkat-o-fruits-banana {
  outline-color: #ddff11;
}
.imkat-o-fruits-mango {
  outline-color: #ffee22;
}
/*IMKAT Hover Border Colors*/
.imkat-hover-b-black:hover {
  border-color: #000000;
}
.imkat-hover-b-white:hover {
  border-color: #ffffff;
}
.imkat-hover-b-blue:hover {
  border-color: #0000ff;
}
.imkat-hover-b-sakura:hover {
  border-color: #ffbbcd;
}
.imkat-hover-b-skyblue:hover {
  border-color: #55ddff;
}
.imkat-hover-b-turquoise:hover {
  border-color: #66ffff;
}
.imkat-hover-b-yellow:hover {
  border-color: #ffff00;
}
.imkat-hover-b-orange:hover {
  border-color: #ff9912;
}
.imkat-hover-b-violet:hover {
  border-color: #6300cc;
}
.imkat-hover-b-mauve:hover {
  border-color: #995599;
}
.imkat-hover-b-red:hover {
  border-color: #ff0000;
}
.imkat-hover-b-seablue:hover {
  border-color: #003eb3;
}
.imkat-hover-b-darkblue:hover {
  border-color: #191966;
}
.imkat-hover-b-prussianblue:hover {
  border-color: #003366;
}
.imkat-hover-b-vermilionred:hover {
  border-color: #ff4400;
}
.imkat-hover-b-lawngreen:hover {
  border-color: #aaff00;
}
.imkat-hover-b-olivegreen:hover {
  border-color: #384d00;
}
.imkat-hover-b-indigo:hover {
  border-color: #00004d;
}
.imkat-hover-b-rainbowgreen:hover {
  border-color: #00ff00;
}
.imkat-hover-b-tomatoketchup:hover {
  border-color: #ff5050;
}
.imkat-hover-b-mayonnise:hover {
  border-color: #ffccb6;
}
.imkat-hover-b-rustiron:hover {
  border-color: #992e00;
}
.imkat-hover-b-fall:hover {
  border-color: #ff5e1a;
}
.imkat-hover-b-fruits-sweetlime:hover {
  border-color: #aaff22;
}
.imkat-hover-b-fruits-orange:hover {
  border-color: #ffaa33;
}
.imkat-hover-b-fruits-banana:hover {
  border-color: #ddff11;
}
.imkat-hover-b-fruits-mango:hover {
  border-color: #ffee22;
}
/*IMKAT Hover Outline Colors*/
.imkat-hover-o-black:hover {
  outline-color: #000000;
}
.imkat-hover-o-white:hover {
  outline-color: #ffffff;
}
.imkat-hover-o-blue:hover {
  outline-color: #0000ff;
}
.imkat-hover-o-sakura:hover {
  outline-color: #ffbbcd;
}
.imkat-hover-o-skyblue:hover {
  outline-color: #55ddff;
}
.imkat-hover-o-turquoise:hover {
  outline-color: #66ffff;
}
.imkat-hover-o-yellow:hover {
  outline-color: #ffff00;
}
.imkat-hover-o-orange:hover {
  outline-color: #ff9912;
}
.imkat-hover-o-violet:hover {
  outline-color: #6300cc;
}
.imkat-hover-o-mauve:hover {
  outline-color: #995599;
}
.imkat-hover-o-red:hover {
  outline-color: #ff0000;
}
.imkat-hover-o-seablue:hover {
  outline-color: #003eb3;
}
.imkat-hover-o-darkblue:hover {
  outline-color: #191966;
}
.imkat-hover-o-prussianblue:hover {
  outline-color: #003366;
}
.imkat-hover-o-vermilionred:hover {
  outline-color: #ff4400;
}
.imkat-hover-o-lawngreen:hover {
  outline-color: #aaff00;
}
.imkat-hover-o-olivegreen:hover {
  outline-color: #384d00;
}
.imkat-hover-o-indigo:hover {
  outline-color: #00004d;
}
.imkat-hover-o-rainbowgreen:hover {
  outline-color: #00ff00;
}
.imkat-hover-o-tomatoketchup:hover {
  outline-color: #ff5050;
}
.imkat-hover-o-mayonnise:hover {
  outline-color: #ffccb6;
}
.imkat-hover-o-rustiron:hover {
  outline-color: #992e00;
}
.imkat-hover-o-fall:hover {
  outline-color: #ff5e1a;
}
.imkat-hover-o-fruits-sweetlime:hover {
  outline-color: #aaff22;
}
.imkat-hover-o-fruits-orange:hover {
  outline-color: #ffaa33;
}
.imkat-hover-o-fruits-banana:hover {
  outline-color: #ddff11;
}
.imkat-hover-o-fruits-mango:hover {
  outline-color: #ffee22;
}
/*IMKAT Fonts*/
.imkat-source-code-pro {
  font-family: "Source Code Pro", monospace;
}
.imkat-consolas {
  font-family: consolas;
}
.imkat-calibri {
  font-family: calibri;
}
.imkat-serif-georgia {
  font-family: Georgia, serif;
}
.imkat-serif-palatino-bookantiqua {
  font-family: "Palatino Linotype", "Book Antiqua", Palatino, serif;
}
.imkat-serif-timesnewroman {
  font-family: "Times New Roman", Times, serif;
}
.imkat-sans-arial {
  font-family: Arial, Helvetica, sans-serif;
}
.imkat-sans-arialblack {
  font-family: "Arial Black", Gadget, sans-serif;
}
.imkat-sans-comicsans {
  font-family: "Comic Sans MS", cursive, sans-serif;
}
.imkat-sans-impact {
  font-family: Impact, Charcoal, sans-serif;
}
.imkat-sans-lucidaunicode {
  font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
}
.imkat-sans-aclonica {
  font-family: "Aclonica";
}
.imkat-sans-acme {
  font-family: "Acme";
}
.imkat-mono-lucidaconsole {
  font-family: "Lucida Console", Monaco, monospace;
}
.imkat-mono-couriernew {
  font-family: "Courier New", Courier, monospace;
}
.imkat-mono-amiko {
  font-family: "Amiko";
}
.imkat-mono-aldrich {
  font-family: "Aldrich";
}
.imkat-mono-andale {
  font-family: "Andale Mono", monospace;
}
.imkat-mono-freemono {
  font-family: FreeMono, monospace;
}
.imkat-mono-dejavu {
  font-family: "Dejavu Sans Mono", monospace;
}
/*IMKAT Font Sizes(Responsive)*/
.imkat-fonts-size-r-microscopic, .imkat-hover-fonts-size-r-microscopic:hover {
	font-size: 0.5vw;
}
.imkat-fonts-size-r-vsmall, .imkat-hover-fonts-size-r-vsmall:hover {
	font-size: 1vw;
}
.imkat-fonts-size-r-small, .imkat-hover-fonts-size-r-small:hover {
	font-size: 2vw;
}
.imkat-fonts-size-r-medium, .imkat-hover-fonts-size-r-medium:hover {
	font-size: 3vw;
}
.imkat-fonts-size-r-large, .imkat-hover-fonts-size-r-large:hover {
	font-size: 4vw;
}
.imkat-fonts-size-r-vlarge, .imkat-hover-fonts-size-r-vlarge:hover {
	font-size: 5vw;
}
.imkat-fonts-size-r-super, .imkat-hover-fonts-size-r-super:hover {
	font-size: 7vw;
}
.imkat-fonts-size-r-ularge, .imkat-hover-fonts-size-r-ularge:hover {
	font-size: 8vw;
}
.imkat-fonts-size-r-extreme, .imkat-hover-fonts-size-r-extreme:hover {
	font-size: 10vw;
}
/*IMKAT Font Sizes(Nonresponsive)*/
.imkat-fonts-size-n-microscopic, .imkat-hover-fonts-size-n-microscopic:hover {
	font-size: 3px;
}
.imkat-fonts-size-n-vsmall, .imkat-hover-fonts-size-n-vsmall:hover {
	font-size: 7px;
}
.imkat-fonts-size-n-small, .imkat-hover-fonts-size-n-small:hover {
	font-size: 15px;
}
.imkat-fonts-size-n-medium, .imkat-hover-fonts-size-n-medium:hover {
	font-size: 20px;
}
.imkat-fonts-size-n-large, .imkat-hover-fonts-size-n-large:hover {
	font-size: 27.5px;
}
.imkat-fonts-size-n-vlarge, .imkat-hover-fonts-size-n-vlarge:hover {
	font-size: 33px;
}
.imkat-fonts-size-n-super, .imkat-hover-fonts-size-n-super:hover {
	font-size: 46px;
}
.imkat-fonts-size-n-ularge, .imkat-hover-fonts-size-n-ularge:hover {
	font-size: 53.5px;
}
.imkat-fonts-size-n-extreme, .imkat-hover-fonts-size-n-extreme:hover {
	font-size: 67px;
}
/*IMKAT Tags*/
body {
  font-family: calibri;
}
h1 {
  font-size: 70px;
}
h2 {
  font-size: 55px;
}
h3 {
  font-size: 40px;
}
h4 {
  font-size: 30px;
}
h5 {
  font-size: 25px;
}
h6 {
  font-size: 20px;
}
/*Newly invented IMKAT Tags*/
imkat-heading {
	font-size: 70px;
	text-align: center;
}
imkat-code {
  font-family: 'Source Code Pro', monospace;
}
imkat-main {
  color: #0000ff;
}
imkat-comment {
  color: #55bb00;
}
imkat-string, imkat-num {
  color: #000000;
}
/*IMKAT Square Graphics*/
.imkat-micro-square {
  height: 3px;
  width: 3px;
}
.imkat-vsmall-sqr {
  height: 7px;
  width: 7px;
}
.imkat-small-sqr {
  height: 15px;
  width: 15px;
}
.imkat-medium-sqr {
  height: 20px;
  width: 20px;
}
.imkat-large-sqr {
  height: 27.5px;
  width: 27.5px;
}
.imkat-vlarge-sqr {
  height: 33px;
  width: 33px;
}
.imkat-super-sqr {
  height: 46px;
  width: 46px;
}
.imkat-ularge-sqr {
  height: 53.5px;
  width: 53.5px;
}
.imkat-extreme-sqr {
  height: 67px;
  width: 67px;
}
/*IMKAT Presets(New)*/
.imkat-typewriter-heading{
  font-size:5vw;
  font-family: "Andale Mono", monospace; 
  text-align: center;
}
.imkat-console-code {
	font-family: "Lucida Console", Monaco, monospace;
	font-size: 3vw;
}
.imkat-hover-highlight:hover {
	background-color: #ffff00;
	font-weight: bold;
}
.imkat-slant-caps {
	font-style: oblique;
	font-variant: small-caps;
}
.imkat-super-heading {
	font-family: Impact, Charcoal, sans-serif;
	font-size: 7vw;
	border: 5px solid black;
	border-radius: 5px;
}